<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Remove Staff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h3>Remove Staff</h3>
<p><a href="/staff">Back to Staff list</a></p>

<div id="form">
    <form th:object="${staff}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Age</label>
            <input type="text" th:field="*{age}"/>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" th:field="*{salary}"/>
        </div>
        <div>
            <label>Branch</label>
            <input type="text" th:field="*{branch.nameB}"/>
        </div>

        <input type="submit" value="Remove"/>
        <button type="button" class="btn btn-info"><a href="/staff">Cancel</a></button>



    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>